    body{
        background: -webkit-gradient(linear, left top, left bottom, from(#99FFCC), to(#9966CC)) fixed;
        font-family: 'Poppins',sans-serif;
    }
    .Goal {
        font-family: 'Poppins',sans-serif ;
        font-size: large;
        font-weight: bolder;
        text-shadow: black;
        text-align: match-parent;
    }
    .descrip p{
        display: inline-block;
        text-align: left;
        font-family: din-2014, sans-serif;
        font-style: normal;
        font-weight: 400;        
        border-color: #9b59b6;
        border-radius: 5px;
        background: rgb(255, 246, 254);
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        max-width: 600px;
        max-height: 600px;
        padding: 10px;
    }
    .card-img-top{

        padding-top: 30px;
    }
    .card{
        background: none;
        border: none;
    }

    * { 
        box-sizing: border-box;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 8px;
    }

    .column {
        -ms-flex: 33%; /* IE10 */
        flex: 33%;
        max-width: 33%;
        padding: 0 4px;
        border-color: #9966CC;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }

  .Gallery{
    margin-top: 30px; 
    color: #252424;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-style: bold;
  }

  .heading {
    font-family: 'Poppins',sans-serif ;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }
  /* Navigation Bar */
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-family:'Poppins',sans-serif;
    font-weight: bold;
    border: 4cm;
    color: #0099CC;
  }
  .navbar ul{
    background-color: rgb(255, 255, 255);
    border-width: thin;
    border-style: solid;
    border-color: #9966CC;
    border-radius:5px;
    border-bottom-width: 2px
  }
  .nav-item{
    color: #0099CC;
  }
